* {
  border: 0;
  margin: 0;
  color: white;
}

h1 {
  font-family: casualFont;
  font-size: calc(15px + 4vw) !important;
}

h2 {
  font-family: sexyFont;
  font-size: calc(10px + 5vw) !important;
}

h3 {
  font-family: casualFont;
  font-size: calc(8px + 3vw) !important;
  margin: 0 !important;
}

:root {
  --colorLight: rgb(255, 136, 249);
}

.App {
  background-color: rgb(36, 36, 36);
}

.sectionBody {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

/* being utility css */

.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.section100h {
  height: 100vh;
}

.section60h {
  height: 60vh;
}

.FCLogo {
  max-width: 50vw;
  max-height: 15vh;
}

.navFadeDown {
  background: linear-gradient(180deg, rgba(185,0,178,0.8391608391608392) 2%, rgba(27,9,25,1) 68%, rgba(0,0,0,0) 100%);
}

/* begin fonts */

@font-face {
  font-family: casualFont;
  src: url('./Global/Fonts/SuperIndie-GOp7O.ttf');
}

@font-face {
  font-family: SexyFont;
  src: url('./Global/Fonts/DelightWinter-4BpOW.ttf');
}

/*! ----------- BEGIN MOBILE ---------------  */

/* -- navigation -- */

.eventsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30vw;
  height: 5vh;
  box-shadow: 0px 0px 0px 0px black;
  font-size: 20px;
  font-family: casualFont;
  border: 2px solid white;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.eventsBtn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.eventsBtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.navigationBar{
  position: absolute;
  display: grid;
  height: 15vh;
  width: 100vw;
  grid-template-columns: 1fr 3fr 1fr;
}

.navigationBar > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationBar > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transparentNav {
  background-color: rgba(0, 0, 0, 0.76);
  padding-top: 15vh;
  padding-bottom: 5vh;
  width: 100vw;
  height: 40vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-bottom: 4px solid var(--colorLight);
}

.navBottomSpace {
  padding-top: 60vh;
  width: 100vw;
}

/* -- mobile backgrounds -- */

.barSecBG {
  background-image: url('./Global/Imgs/FCDrinks.jpg');
}

.clubSecBG {
  background-image: url('./Global/Imgs/FCPhotoClub.jpg');
}

.heartImg {
  background-image: url('./Global/Imgs/heart.jpg');
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
}

/* ----- landing Sec ------ */

.landingSec {
  padding-top: 15vh;
  background-image: url('./Global/Imgs/vipcurtains.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
}

/* ---- bar sec ---- */

.barSectionHeader {
  height: 20vh;
  background-color: var(--colorLight);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* -- events section -- */

.eventsSection {
  flex-direction: column;
  text-align: center;
  padding-top: 13vh;
  border-top: 4px solid var(--colorLight);
  margin-bottom: 10vh;
}

.eventsCard {
  display: grid;
  grid-template-columns: .3fr 4fr .3fr;
  grid-template-rows: 1fr 2.5fr;
  max-height: 50vh;
  margin-top: 5vh;
  width: 85vw;
}

.eventsCard > div:nth-child(1) {
  grid-row: 1 / 3;
}

.eventsCard > div:nth-child(1) {
  grid-column: 1;
  border-right: 5px solid var(--colorLight);
  border-radius: 5px;
}
.eventsCard > div:nth-child(4) {
  grid-column: 3;
  border-left: 5px solid var(--colorLight);
  border-radius: 5px;
  grid-row: 1 / 3;
}

.eventsCard > div:nth-child(2) {
  grid-row: 1;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.eventsCard > div:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2;
}

/* ------ contact us section ------ */

.headerContact > h1{
  font-size: 60px !important;
}

.contactUsSection {
  border-top: 3px solid var(--colorLight);
  padding-bottom: 13vh;
  padding-top: 13vh;
  display: grid;
  grid-template-rows: .5fr 1fr .5fr 1fr .5fr 1fr .5fr 1fr .5fr 1fr;
}

.contactUsSection > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUsSection > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- about Us Section -------- */

.aboutUsSection {
  text-align: center;
  border-top: 3px solid var(--colorLight);
  margin-left: 2vw;
  margin-right: 2vw;
  padding-top: 13vh;
  padding-bottom: 10vh;
}


/* ------------ footer ---------- */

.Footer > a:nth-child(1) > img {
  width: 100vw
}

.Footer {
  flex-direction: column;
  margin-top: 30px;
  border-top: 4px solid var(--colorLight);
}

.Footer > h2 {
  flex-direction: column;
  font-family: sans-serif !important;
  font-size: 13px !important;
}


/*! ---------------------- BEGIN DESKTOP ------------------------- !*/

/* ---- navigation ---- */

.navigationBarDesktop {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 20vh;
  width: 100vw;
}

.FCLogoDesktop{
  cursor: pointer;
  height: 15vh;
}

.navigationBarDesktop > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationBarDesktop > div > h1 {
  font-size: 2.5rem !important;
  cursor: pointer;
}

.navigationBarDesktop > div > h1:hover {
  color: var(--colorLight);
}


/* landing section */

.drinksPic {
  background-image: url('./Global/Imgs/drinks.jpg');
  width: 28vw;
}
.heartPic {
  background-image: url('./Global/Imgs/heart.jpg');
  width: 28vw;
}
.danceFloorPic {
  background-image: url('./Global/Imgs/DanceFloor.jpg');
  width: 28vw;
}

.landingSecDesktop {
  padding-top: 15vh;
  background-image: url('./Global/Imgs/vipcurtains.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
}

.landingSecDesktop > h1 {
  margin-top: 20px;
  font-size: 3rem !important;
}

.landingSecDesktop > h2 {
  font-size: 3rem !important;
}

.landingSecDesktop > div:nth-child(3) {
  display: flex;
  justify-content: space-around;
  border-top: 4px solid var(--colorLight);
  border-bottom: 4px solid var(--colorLight);
  background-color: rgba(255, 137, 228, 0.492);
}
.landingSecDesktop > div:nth-child(3) > div {
  height: 24vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
}
.landingSecDesktop > div:nth-child(3) > div > h2 {
  font-size: 3rem !important;
}

/* ---- amenities Section -------- */

.amenitiesHeaderDesktop {
  background-color: rgb(145, 77, 128) !important;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid var(--colorLight);
  border-bottom: 5px solid var(--colorLight);
}

.amenitiesHeaderDesktop > h1 {
  font-size: 4rem !important;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}

.amenitiesSecDesktop {
  padding-top: 18vh;
  background-image: url('./Global/Imgs/FCPhotoClub.jpg');
  background-size: cover;
  text-align: center;
}

.amenitiesSecDesktop > h1 {
  font-size: 4rem !important;
}

.amenitiesSecDesktop > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.amenitiesSecDesktop > div:nth-child(3) > h2{
  font-family: casualFont !important;
  font-size: 3.2rem !important;
}

.amenitiesSecDesktop > div > div {
  display: flex;
  width: 50vw;
  justify-content: center;
  flex-direction: column;
}

.amenitiesSecDesktop > div > div > h2 {
  font-size: 3rem !important;
  font-family: casualFont !important;
}

/* -------- about us section -----------  */


.aboutUsSectionDesktop {
  font-size: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 8px solid var(--colorLight);
  padding-top: 15vh ;
  padding-bottom: 15vh;
}


.aboutUsSectionDesktop > h3 {
  font-size: 2.5rem !important;
}

/* ----------- Contact Us Section -------------- */

.contactUsSectionDesktop {
  padding-top: 15vh;
  border-top: 8px solid var(--colorLight);
}

.contactUsSectionDesktop > div {
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
} 

.contactUsSectionDesktop > div > h2 {
  font-size: 3rem !important;
}
.contactUsSectionDesktop > div > h1 {
  font-size: 4rem !important;
}

/* HamToXBtnCSS */

#HTXB {
  width: 50px;
  height: 50px;
  margin: 10px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#HTXB span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #e4e4e4;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#HTXB span:nth-child(1) {
  top: 0px;
}

#HTXB span:nth-child(2),#HTXB span:nth-child(3) {
  top: 18px;
}

#HTXB span:nth-child(4) {
  top: 36px;
}

#HTXB.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#HTXB.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#HTXB.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#HTXB.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}